svg {
    font: 10px sans-serif;
    border: 3px lightgray solid;
    border-radius: 10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3px;
}

.ideal {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

/* grid lines */
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

text.comment {
    font-weight: bold;
}
